@font-face {
  font-family: "Berkeley Mono";
  src: url("assets/fonts/BerkeleyMono-Regular.woff2");
}

body {
  font-size: 14px;
  letter-spacing: -0.02em;
  min-height: 100vh;
  font-family: "Berkeley Mono", -apple-system, "Inter", "Helvetica Neue", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  width: auto;
  background-color: #fbfbf9;
  color: #222;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto 0 auto;
  max-width: 650px;
  line-height: 1.5;
}

/********** navbar **********/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 30px 0;
  font-size: medium;
  font-weight: 500;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
}

/* ********** */

h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.5em;
}

a {
  color: #058098;
  text-decoration: none;
}

p,
a {
  margin: 5px 0 5px 0;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  float: right;
  display: block;
  height: 96px;
  width: auto;
  border-radius: 12px;
}

.homepage-divider {
  margin: 12px 0;
}

li {
  font-size: 14px;
  margin-bottom: 5px;
}


.social-icon {
  font-size: 24px;
  /* Adjust as needed */
  margin-right: 10px;
  /* Adjust as needed */
}

/* Responsiveness */
@media (max-width: 728px) {
  body {
    padding: 1rem 1.5rem;
  }

  nav {
    padding: 1rem 0 1rem 0;
  }

  p {
    margin: 12px 0 12px 0;
  }

  .homepage-divider {
    margin: 8px 0;
  }
}

/********** image modal **********/
/* 
used for: 
- hire me image (lol sorry)
 */
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.95);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: block;
  width: 95vw;
  height: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}