body {
  margin: 0;
  font-size: 15px;
  min-height: 100vh;
  font-family: -apple-system, "Inter", "Helvetica Neue", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  width: auto;
}

/* This will apply when the screen's width is 768px or less */
@media screen and (max-width: 768px) {
  body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
}

a {
  color: black;
}

.container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  max-width: 700px;
  padding: 0 15px;
  margin: 0 auto;
}

/********** navbar **********/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px 0;
  font-size: medium;
  font-weight: 500;
}

nav a {
  color: black;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
}
/* ********** */

.bold {
  font-weight: bold;
  margin: 30px 0 5px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-image {
  float: right;
  display: block;
  height: 96px;
  width: auto;
  border-radius: 12px;
}

li {
  margin-bottom: 5px;
}

/********** image modal **********/
/* 
used for: 
- hire me image (lol sorry)
 */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 72vw;
  height: auto;
  padding: 80px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}