@font-face {
  font-family: "Berkeley Mono";
  src: url("assets/fonts/BerkeleyMono-Regular.woff2");
}

body {
  font-size: 15px;
  letter-spacing: 0.03em;
  min-height: 100vh;
  font-family: -apple-system, "Inter", "Helvetica Neue", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #1c1c1d;
  color: #ddd;
  margin: 0 auto;
  padding: 0 1.2rem;

  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #1c1c1ddd;
  z-index: 999;
  box-shadow: 0 1.2rem 1.2rem #1c1c1ddd;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-btn {
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #ccc;
}

.nav-btn:hover,
.nav-btn.active {
  color: #fff;
  background-color: #2c2c2e;
}

.profile-image {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 15%;
  margin-right: 0.7rem;
}


section {
  max-width: 700px;
  padding: 1rem 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

a {
  color: #ccc;
}